*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

header {
    background-color: #1A0B2E;
}



.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 16px;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.normal {
  color: #ffffff; 
}

.gradient {
  background: linear-gradient(rgb(139, 17, 150), #f12ad0, #fffc47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

nav .menu{
    display: flex;
    list-style-type:none;
    gap: 30px;
    
}

nav .menu a{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.btn{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(rgb(139, 17, 150), #f12ad0, #fffc47);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    

} 

.btn2{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 100;
    color: #00FF88;
    cursor: pointer;
    border-radius: 25px;
    background-color: transparent;
    border: #00FF88;
    border: solid 1px;

}



.banner {
  min-height: 100vh;
  width: 100%;

  background: url("assets/hero-bg.png") center / cover no-repeat;

  
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}


.banner-visual {
  position: relative;
  width: 420px;  
  height: 420px;
}


.banner-visual .circle {
  width: 100%;
  height: auto;
  display: block;
}


.banner-visual .mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 120px; 
  z-index: 2;
}

.heading{
    color: #ffffff;
    font-weight:bolder;
    font-size: 40px;
    padding-left: 120px;
}

.banner-content{
    align-items: center;
    justify-content: center;
}    

.wh{
    color: #ffffff;
    
}

.buttons{
    padding-top: 24px;
}


.about {
  min-height: 50px;
  background: linear-gradient(180deg, #1a0833 0%, #0f051a 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  color: #ffffff;
}

.content {
  max-width: 1000px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
}

p {
  font-size: 1rem;
  line-height: 1.7;
  color: #cfc8e2;
  margin-bottom: 12px;
}

.divider {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin: 50px 0;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.stat h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #20f2a5;
  margin-bottom: 8px;
}

.stat span {
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: #b9b3d3;
}

/* Responsive */
@media (max-width: 900px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.2rem;
  }

  .stats {
    grid-template-columns: 1fr;
  }
}




