*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

header {
    background-color: #1A0B2E;
}



.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 16px;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.normal {
  color: #ffffff; /* plain white */
}

.gradient {
  background: linear-gradient(rgb(139, 17, 150), #f12ad0, #fffc47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

nav .menu{
    display: flex;
    list-style-type:none;
    gap: 30px;
    
}

nav .menu a{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.btn{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(rgb(139, 17, 150), #f12ad0, #fffc47);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    

} 

.btn2{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 100;
    color: #00FF88;
    cursor: pointer;
    border-radius: 25px;
    background-color: transparent;
    border: #00FF88;
    border: solid 1px;

}



.banner {
  min-height: 100vh;
  width: 100%;

  background: url("assets/hero-bg.png") center / cover no-repeat;

  
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}


.banner-visual {
  position: relative;
  width: 420px;  
  height: 420px;
}


.banner-visual .circle {
  width: 100%;
  height: auto;
  display: block;
}


.banner-visual .mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 120px; 
  z-index: 2;
}

.heading{
    color: #ffffff;
    font-weight:bolder;
    font-size: 40px;
    padding-left: 65px;
}

.banner-content{
    align-items: center;
    justify-content: center;
}    

.wh{
    color: #ffffff;
    
}

.buttons{
    padding: 24px;
}







